 body{
            background-color: #1B4332;
            color: #B7E4C7;
        }
        nav{
            background-color: #40916C;
            margin: 5px;
            padding: 3px;
            border-radius: 10px;
        }
       nav a {
        flex: flex;
        color: #D8F3DC;
        justify-content: center;
        
        margin: 10px;
        padding: 10px;
       }
        nav a:hover{
           color: #081C15;
        }