body {
  /* background-color:  #03071E; */
  background-color: black;
  color: #D00000;
  
}

header{
  border: 3px solid #9D0208;
}

main{
  border: 3px solid #E85D04;
  padding: 20px;
}

a {
  color: #F48C06; 
}

nav{
    background-color: #370617;

}

nav a {
  color: #E85D04; 
}

nav a:hover {
    color:#9D0208;
}

footer{
  display: flex;                 
  justify-content: space-between;      
  border-top: 3px solid #370617
}

footer .quote {
  text-align: right;              
  max-width: 60%;                
}

.bioimg img{
  max-width: 100%;
} 
 @media only screen and (max-width: 600px) {
  nav{
    display: flex;
    flex-direction: column; 
    padding: 2px;
  }
  nav a{
    display: block;
    width: 100%;
    padding: 2px;
  }
  span{
    display: none; 
  }
 }


